<div class="app_input_tager_container">
	<div class="input_tager_wrapper">
		<div class="input_tags_holder">
			{{input type="text" class="input_tager" value=search action="doEnter"}}
		</div>
	</div>
</div>
