h1 {
	padding: 0px;
	margin: 0px;
}
.fd_ui_body {
	margin:0px;
	padding: 0px;
	background: #f8f8f8;
	height: 100%;
	width: 100%;
}
.fd_ui_wrapper {
	max-width: 1200px;
	background: #fff;
	min-height: 600px;
	margin:0 auto;
}
.fd_header {
	width: 100%;
	background:#16a085;
	color:#FFF;
	padding:15px 0px 15px 25px;
}
.fd_header_title {
	font-size: 23px;
}
.fd_header_desc {
	font-size: 12px;
	margin-top:2px;
}
.fd_ui_contentholder {
	position: relative;
}
.fd_ui_componentslist {
	width: 250px;
	padding: 20px 20px 20px 0px;
}
.fd_ui_componentslist ul li {
	margin-bottom: 7px;
	color:#05674b;
	padding-left: 10px;
}
.fd_ui_componentslist a,.fd_ui_componentslist a:active,.fd_ui_componentslist a:visited {
color:#05674b;
}
.fd_ui_component_content {
	position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 250px;
}
.fd_ui_com_holder {
	padding: 10px 25px;
	position: relative;
	border-left: 1px solid #d3d3d3;
	min-height: 700px;
}
.fd_com_header {
	border-bottom: 1px solid #d3d3d3;
	color:#05674b;
	padding: 15px 20px 20px 0px;
	margin-bottom: 15px;
}
.fd_com_content {
	color:#05674b;
}
.fd_com_block {
	margin-bottom: 25px;
}
.fd_com_subheader {
	margin-bottom: 20px;
}
.fd_com_subcontent {
	margin-left: 50px;
}
code {
color:#05674b;
}
.fd_com_linebreak {
	margin-bottom: 10px;
}
.app_dependency_dropdown {
  margin-bottom: 10px;
}
.form-control {
height: auto;
padding: 0px;
border:none;
}
  .button{
    position: relative;
    width:120px;
    border:none;
    background-color:#fafafa;
  }
  .button:hover{
    background-color:#fafafa;
  }
  .btn:focus{
      outline: none;
  }
  .btn-upload-file{
    position:absolute;
    height:32px;
    width:100px;
    z-index:2;
    opacity:0;
    margin-top: 10px;
    margin-left: 10px;
  }
  .container{
    width: 532px;
    border-radius: 5px;
    border:1px solid #fafafa;
    padding-left:0px;
    padding-right:0px;
  }
  div.upload-container{
    padding:5px;
    background-color:#fafafa;
  }
  .alert{
    padding:10px;
  }
  div.item {
      background: rgba(255,255,255,0.4);
      border: 1px #e8e8e8 solid;
      border-radius: 4px;
      color: #999999;
      font-size: 12px;
      margin: 5px;
      display: inline-block;
      float: none;
      min-height: 20px;
      height: auto !important;
      width: auto;
      min-width: 100px;
      margin-left: 6px;
      padding: 8px;
      margin-bottom: 0;
  }
  span.close-icon{
    color:#999999 !important;
    padding:5px;
  }
  div.attach{
    min-height:50px;
    padding-bottom: 10px;
    background-color:#fafafa;

  }
  .spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.glyphicon-remove{
  color:#999999 ;
}
.attach-button{
  border:none;
  background-color:#fafafa;
  position:relative;
  width:120px;
}
.attach-button:hover {  background-color: #fafafa }
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

