  {{yield}}
  {{log error}}
  <div class="avatar-container">
  <div class="input-container">

  {{file-upload url=url
    preview=preview
    previewImage='previewImage'
    accepts=accepts
    onFileUploadAdd='onFileUploadAdd'
    onFileUploadSuccess='onFileUploadSuccess'
    onFail=onFail
    acceptFileTypes=acceptFileTypes
    allowSize=allowSize
    upload=upload
    error = 'error'
    tabindex='-1'}}
  </div>
  {{#if imageIsThere}}
  <a href='javascript:;'>
  <span>Change Avatar</span>
  </a>
  {{else}}
  <a href='javascript:;'>
  <span>Add Avatar</span>
  </a>
  {{/if}}
  </div>



