<div class="fd_ui_body ember_way">
	<div class="fd_ui_wrapper">
		<div class="fd_header">
			<div class="fd_header_title">Freshdesk UI Components</div>
			<div class="fd_header_desc">Portable and Isolated Web Components</div>
		</div>
		<div class="fd_ui_contentholder">
			<div class="fd_ui_componentslist">
				<ul>
					<li>{{#link-to "split-button-dropdown"}}Split Button Dropdown{{/link-to}}</li>
					<li>{{#link-to "dependency-dropdown"}}Dependancy Dropdown{{/link-to}}</li>
					<li>{{#link-to "multiple-input-selector"}}Multiple Input Selector{{/link-to}}</li>
					<li>{{#link-to "tabs-default"}}Tabs Default{{/link-to}}</li>
					<li>{{#link-to "alphabet-filter"}}Alphabet Filter{{/link-to}}</li>
					<li>{{#link-to "menu-filter"}}Menu Filter{{/link-to}}</li>
					<li>{{#link-to "file-attachment"}}File Attachment{{/link-to}}</li>
					<li>{{#link-to "avatar-upload"}}Avatar Upload{{/link-to}}</li>
				</ul>
			</div>
			<div class="fd_ui_component_content">
				<div class="fd_ui_com_holder">
					{{outlet}}
				</div>
			</div>
		</div>
	</div>
</div>

