<div class="fd_com_split_button">
  <div class="fd_com_header">
    <h1>File Attachment</h1>
  </div>
  <div class="fd_com_content">
    <div class="fd_com_sytax fd_com_block">
      <div class="fd_com_subheader"><h4>Component Syntax :</h4></div>
      <div class="fd_com_subcontent">
        <code>&#123;&#123;file-attachment
        upload='true'
        url='/attachments'
        multiple=true
        value=model.attachments
        &#125;&#125;</code>
      </div>
    </div>
    <div class="fd_com_sytax fd_com_block">
    <div class="fd_com_subheader"><h4>Component Dependencies</h4></div>
    <div class="fd_com_subcontent">
      <ul>
        <li>Bootstarp</li>
        <li>Jquery-File-Upload</li>
      </ul>
    </div>
    </div>
    <div class="fd_com_sytax fd_com_block">
      <div class="fd_com_subheader"><h4>Component Properties :</h4></div>
      <div class="fd_com_subcontent">
        <div class="fd_com_linebreak">upload = (true/false) when true the files will be uploaded to the server</div>
        <div class="fd_com_linebreak">url = the url end point to which the file to be uploaded</div>
        <div class="fd_com_linebreak">allowSize = the size of the files to be uploaded, default size per file is 15 mb</div>
        <div class="fd_com_linebreak">multiple = (true/false) when true, multiple files can be attached at once</div>
        <div class="fd_com_linebreak">value = if upload is false it contains the array of file objects, if upload is true it contains the json response form the server</div>

        <div class="fd_com_linebreak">onFileUploadSuccess = action to the parent, to handle when the file upload is successful</div>
        <div class="fd_com_linebreak">onFail = action to the parent, to handle when the file upload failed</div>
        <div class="fd_com_linebreak">allowSizeError = Custom error, to be shown in case the file size is exceeded.</div>

      </div>
    </div>
    <div class="fd_com_subheader"><h4>Demo :</h4></div>
  </div>

  {{file-attachment
  url='https://jquery-file-upload.appspot.com/'
  upload=false
  onFileUploadSuccess='onFileUploadSuccess'
  multiple=true
  }}

</div>
