<div class="fd_com_split_button">
	<div class="fd_com_header">
		<h1>Freshdesk UI Components</h1>
	</div>
	<div class="fd_com_content">
		<div class="fd_com_sytax fd_com_block">
			<div class="fd_com_subheader"><h4>List of Components Present</h4></div>	
			<div class="fd_com_subcontent">
				<ul>
					<li>{{#link-to "split-button-dropdown"}}Split Button Dropdown{{/link-to}}</li>
					<li>{{#link-to "dependency-dropdown"}}Dependancy Dropdown{{/link-to}}</li>
					<li>{{#link-to "multiple-input-selector"}}Multiple Input Selector{{/link-to}}</li>
					<li>{{#link-to "tabs-default"}}Tabs Default{{/link-to}}</li>
					<li>{{#link-to "alphabet-filter"}}Alphabet Filter{{/link-to}}</li>
					<li>{{#link-to "menu-filter"}}Menu Filter{{/link-to}}</li>
					<li>{{#link-to "file-attachment"}}File Attachment{{/link-to}}</li>
					<li>{{#link-to "avatar-upload"}}Avatar Upload{{/link-to}}</li>
				</ul>
			</div>
		</div>
		<div class="fd_com_sytax fd_com_block">
			<div class="fd_com_subheader"><h4>Installation</h4></div>	
			<div class="fd_com_subcontent">
				<div class="fd_com_linebreak">ember install https://github.com/freshdesk/ember-fduicomponents</div>
			</div>
		</div>
		<div class="fd_com_sytax fd_com_block">
			<div class="fd_com_subheader"><h4>Component Dependencies</h4></div>	
			<div class="fd_com_subcontent">
				<div class="fd_com_linebreak">Install below the list of requirements to run the component</div>
				<div>Bootstrap -> ember install ember-bootstrap</div>
				<div>select2 -> ember install ember-select-2</div>
				<div>jQuery file uploader</div>
			</div>
		</div>
	</div>
</div>	